@import "../main.scss";

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  left: 35px;
  right: 35px;
  bottom: 0px;
  gap: 19px;
  padding: 20px 0px;
  margin-top: 65px;
  // background-color: red;

  .brand {
    background-image: url('../../imgs//brand//brand-dark.png');
    // background-color: red;
    // background-size: 100% 100%;
    background-size: cover;
    // background: ;
    min-height: 200px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    min-width: 200px;
    //min-width: 100px;
    // border: 1px solid red;
    // background-color: red;
    margin: auto;
    position: relative;
    img {
      object-fit: cover;
        // position: absolute;
      width: 100%;
      z-index: 1000;
    }
    padding: 5px;
  }
  .first {
    position: absolute;
    width: 50px;
    height: 50px;
    left: auto;
    right: -10px;
    top: -10px;
    bottom: auto;
    z-index: -100;

    // background: linear-gradient(
    //   0deg,
    //   rgba(185, 151, 180, 0.91),
    //   rgba(185, 151, 180, 0.91)
    // );
    background-color: $bg-alt;
    filter: blur(12px);
    border-radius: 50%;
  }
  .second {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -7px;
    right: auto;
    top: auto;
    bottom: -10px;
    z-index: -100;

    // background: linear-gradient(
    //   0deg,
    //   rgba(185, 151, 180, 0.91),
    //   rgba(185, 151, 180, 0.91)
    // );
    background-color: $bg-alt;
    filter: blur(12px);
    border-radius: 50%;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 19px;
    // border: white 1px solid;
  }
}
.presentation__details > div {
  display: none;
}

@media only screen and (min-width: 450px) {
  .presentation {
    left: 85px;
    right: 85px;
    bottom: 25px;
    .brand{
        width: 400px;
        height: 400px;
    }
    
    .first {
        width: 100px;
        height: 100px;
        top: -22px;
        right: -22px;
    }
    
    .second {
        width: 100px;
        height: 100px;
        left: -22px;
        bottom: -22px;
    }
    
    .information {
        justify-content: center;
    }
  }
  
}

@media only screen and (min-width: 900px) {
  .presentation {
      flex-direction: row-reverse;
    justify-content: center;
    bottom: 65px;

    .brand{
        min-width: 400px;
        height: 400px;
    }

    .first {
        width: 100px;
        height: 100px;
        top: -22px;
        right: -22px;
    }
    
    .second {
        width: 100px;
        height: 100px;
        left: -22px;
        bottom: -22px;
    }

    .information {
        justify-content: center;
    }
  }
  .presentation__details {
    display: flex;
    align-items: center;
    max-width: 620px;
    gap: 20px;
  }
  .presentation__details > div {
    display: flex;
    flex-direction: column;
  }
  .presentation__details > p {
    max-width: 358px;
  }
}
