@import "../main.scss";

.presentation {
  bottom: 0px;
  gap: 19px;
  margin-top: 65px;

  .profile {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: $bg-alt;
    box-sizing: border-box;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
  }

  .contact {
    display: flex;
    gap: 10px;
  }

  .contact__options {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.presentation__details > p {
  min-width: 500px;
}

@media only screen and (min-width: 450px) {
  .presentation {
    left: 85px;
    right: 85px;
    bottom: 25px;
    .brand{
        width: 400px;
        min-height: 400px;
    }
    
    .first {
        width: 100px;
        height: 100px;
        top: -22px;
        right: -22px;
    }
    
    .second {
        width: 100px;
        height: 100px;
        left: -22px;
        bottom: -22px;
    }
    
    .information {
        justify-content: center;
    }
  }
  
}

@media only screen and (min-width: 900px) {
  .presentation {
    flex-direction: row-reverse;
    justify-content: center;
    bottom: 65px;

    .brand{
        min-width: 400px;
        height: 400px;
    }

    .first {
        width: 100px;
        height: 100px;
        top: -22px;
        right: -22px;
    }
    
    .second {
        width: 100px;
        height: 100px;
        left: -22px;
        bottom: -22px;
    }

    .information {
        justify-content: center;
    }
  }
  .presentation__details {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .presentation__details > div {
    display: flex;
    flex-direction: column;
  }
  .presentation__details > p {
    max-width: 358px;
  }
}
