@import "../main.scss";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 0px;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 265px;
  height: 180px;
  text-align: center;

  img {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (min-width: 450px) {
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0px;
  }
}

@media only screen and (min-width: 900px) {
    .skills {
        gap: 96px;
    }
  }
